* { 
    margin:0;
    border:0;
    font-size:100%;
    outline: 0;
    padding:0;
    font-weight: lighter;
    font-family: sans-serif;
}

header{
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(39, 36, 36, 0.8);
    padding:auto;
    height:4rem;
    color: white;
}

.title{
    font-size:250%;
    user-select: none;
    margin:1rem;
}

.main{
    display:flex;
    flex-direction: row;
    min-height: calc(100vh - 4rem);
}

.projectsContainer{
    display:flex;
    flex-direction: column;
    width:300px;
    overflow-x: hidden;
    transition:.5s;
    max-width: 300px;
    background-color: lightgray;
    padding:1rem;
    
}

.projectsContainer h1{
    margin:1rem;
    font-size: 150%;
}

.active{
    background-color: darkgray;
    font-weight: 900;
}

.project,.addProject{
    display: flex;
    justify-content: space-between;
    padding:.2rem;
    user-select: none;
    border-radius: 6px;
    margin:.2rem;
    transition: .3s;
}

.project h2{
    width:90%;
}

.project:hover,.addProject:hover{
    background-color: darkgray;
}

.project:active,.addProject:active{
    box-shadow: 0px 0px 1px 2px darkgray;
    color:white;
    background-color: gray;
}

.addProjectForm{
    display:none;
    flex-direction: column;
}

.todoMain{
    display:flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.todoHeader{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
}

.todoTitle{
    font-size:250%;
}

.addTask{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: gray;
    font-size:200%;
    border-radius: 6px;
    width:40%;
    max-width: 300px;
}

.todoList{
    
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width:100%;
}

.completed{
    color: rgba(0,0,0,0.5);
}

.completedText{
    text-decoration: line-through;
}

.checkBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.taskContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:.3rem;
}

.taskContainer p{
    padding:.3rem;
}

.taskContainer:hover{
    background-color: darkgray;
}

.taskLeft{
    display:flex;
    flex-direction: row;
    margin-left:1rem;
    width:100%;
}

.taskRight{
    display:flex;
    flex-direction: row;
    max-width: 210px;
    width:40%;
    justify-content: space-around;
    align-items: center;
}

.taskDelete{
    color:rgba(0,0,0,0);
}

.taskDelete:hover{
    color:rgba(0,0,0,1);
}

.details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:.5rem;
    
}

.hide{
    display:none;
}

.wide{
    width:100%;
}

.date{
    padding: 0rem 1rem;
    width:40%;
}

#overlay{
    position:fixed; 
    display:none;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0,0,0,0.5);
    z-index:2;
}

#form{
    max-width: 800px;
    width:80%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: white;
}

#formTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1rem;
}

.line{
    border-top:1px solid lightgrey;
}

#formContainer{
    display: flex;
    flex-direction: column;
    padding:1rem;
}

.row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.col{
    display:flex;
    flex-direction: column;
    width:45%;
}

#formContainer input{
    border: 1px solid gray;
    border-radius: 3px;
}

#title{

}

textarea{
    height:auto;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}


#formBottom{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media screen and (max-width:800px){
    .projectsContainer{
        width:0px;
        padding:0px;
        position: fixed;
        top:4rem;
        left:0;
        max-width: 220px;
        height:100%;
    }
}